  <div id="red_bar_title">
      <h1>
        Guigui bla bla bla bla asdf 
      </h1>
  </div>

  <div id="body_write">
  <div id="two-columns">
    <div id="column1">
        <ul>
			    <li><a href="#">Home</a></li>
			    <li><a href="#">Blog</a></li>
			    <li><a href="#">Photos</a></li>
			    <li><a href="#">About</a></li>
			    <li><a href="#">Links</a></li>
			    <li><a href="#">Contact</a></li>
		    </ul>
        <p>
          bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	  Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
        <p>
     </div>
     <div id="column2">
      <h2>Guigui</h2>
        <p>
          <%= "Welcome, #{@user.name}!" %>
        </p>

        <p>
          <%= link_to "My Pages", pages_path %>
        </p>

        <p>
          <%= link_to "My Account" %>
        </p>

        <p>
          <%= link_to "Logout", :controller => 'admin', :action => 'logout' %>
        </p>
       </div>
    </div>
    </div>

