 <p>
        Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
</p>


<div id ="home_login">

  <% form_tag do %>
    
    <div>
      <label for="username">Usuário:</label><br>
      <%= text_field_tag :username, params[:name], :size => '25' %>
    </div>
    <br>
    <div>
      <label for="password">Senha:</label><br>
      <%= password_field_tag :password, params[:password], :size => '25' %>
    </div>
    <br>
    <div>
      <%= submit_tag "Login" %>
    </div>
  
  <% end %>
</div>


