body {
	margin: 0;
	padding: 0;
	background: #EFDABB url(/images/background.jpg) repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 0px auto;
}

img {
  float: left;
  padding: 3px 3px 0px 0px;
}
h1, h2, h3 {
	margin: 0;
	font-weight: bold;
	color: #913c2f;
	padding: 10px 25px 10px 80px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 90%;
	
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #913c2f;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#full_body {
	background: url(/images/background.jpg) repeat left top;
    padding: 0px;
}

#header {
	margin: 0px auto;
	margin-top: 40px;
	background: url(/images/header.jpg) no-repeat center bottom;
	height: 49px;
	width: 960;
}

#home_header {
	margin: 0px auto;
	margin-top: 40px;
	background: url(/images/home_header.jpg) no-repeat center bottom;
	height: 49px;
	width: 960;
}

#home_title {
	margin: 0px auto;
	background: url(/images/home_title.jpg) no-repeat center;
	height: 193px;
	width: 960;
}

#home_title p {
	padding: 20px 30px 75px 500px;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 19px;
	font-style: italic;
}

#body_write {
	margin: 0 auto;
	padding: 0;
	background: url(/images/body.jpg) repeat-y center;
	width: 960;
}

#body_write p {
	padding: 10px 35px 10px 80px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}

#body_write ul {


}

#body_write li {

}

#two-columns {
	overflow: hidden;
	width: 960px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
}

#column1 {
	float: right;
	width: 290px;
}

#column1 p {
	padding: 5px 30px 5px 5px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
}

#column1 li {
	padding: 0px 30px 0px 0px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
  list-style: none;
	font-weight: bold;
}

#column2 {
	float: left;
	width: 670px;
}

#red_bar_home {
	margin: 0 auto;
	padding: 0;
	background: url(/images/home_red_bar.jpg) no-repeat center;
	height: 196px;
	width: 960px;
}

#red_bar_home p {
  float:left;
	padding: 5px 10px 15px 80px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
  font-weight: bold;
  width: 500px;
}

#home_login {
  float: right;
  padding: 15px 50px 15px 80px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 13px;
  font-weight: bold;
}

#home_login input:nth-child(1) {
  float: right;
}

#red_bar_title {
	margin: 0 auto;
	padding: 0;
	background: url(/images/red_title.jpg) no-repeat center;
	height: 64px;
	width: 960px;
}

#red_bar_title h1 {
	padding: 12px 10px 15px 100px;
	text-align: justify;
	color: #FFFFFF;
	font-size: 30px;
  font-weight: normal;
  font-style: italic;

}


.list-line-even {
  background:   #DCDCDC;
  vertical-align: middle;
}

.list-line-odd {
  background:   #BFBFBF;
  vertical-align: middle;
}

#table_directories {
  border: 10px solid #EEEEEE;
  font-size: 14px;
  font-weight: bold;
  border-collapse: collapse;
  width: 550px;
  background: #AAAAAA;
}

#table_files {
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #AAAAAA;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  border-collapse: collapse;
  width: 540px;
}

#table_files td {
  padding-left: 1px;  
}

#table_files td a {
  float: left;
  padding-top: 3px;
  
}

#files {
	padding: 10px 0px 0px 100px;
}

#files a {
  color: #000000;
}

#add_file {
	padding: 10px 10px 15px 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#rules {
	padding: 0px 0px 0px 100px;;
}

#rules a {
  color: #000000;
}


#footer {
	margin: 0px auto;
	margin-bottom: 40px;
	padding: 0;
	background: url(/images/footer.jpg) no-repeat center top;
	height: 49px;
	width: 960px;
}


/* Logo */
#logo_title {
	margin: 0 auto;
	height: 100px;
	background: url(/images/body.jpg) repeat-y center;
	width: 960;
}

#logo {
	float:left;
	padding: 0px 0px 0px 70px;
	width: 153px;
	height: 95px;
}

/* Menu */

#menu_home {
	width: 960px;
	margin: 0px auto;
	padding: 0;
	padding-top: 7px;
}

#menu_home ul {
	margin: 0;
	padding: 0px 30px 25px 0px;
	list-style: none;
	line-height: normal;
}

#menu_home li {
	padding: 0px 0px 0px 0px;
}

#menu_home a {
	display: inline;
	float: right;
	margin: 0px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

#menu_home a:hover, #menu_home .current_page_item a {
	text-decoration: none;
	background-color: ba6240;
	color: #FFFFFF;
}

#menu_home .current_page_item a {
	padding: 5px 15px 5px 15px;
}




#menu {
	width: 960px;
	margin: 0px auto;
	padding: 0;
	padding-top: 75px;
}

#menu ul {
	margin: 0;
	padding: 0px 30px 25px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	padding: 0px 0px 0px 0px;
}

#menu a {
	display: inline;
	float: right;
	margin: 0px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background-color: ba6240;
	color: #FFFFFF;
}

#menu .current_page_item a {
	padding: 5px 15px 5px 15px;
}

