<body>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen">
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">ufrgs</a></h1>
			<p>Instituto de Informática</p>
		</div>
		<div id="banner"><img src="images/logo.jpg" width="667" height="118" alt=""></div>
	</div>
	<div id="menu" class="container">
		<ul>
<li class="active"><a href="#">Página inicial</a></li>
			<li><a href="graduacao2.html">graduação</a></li>
			<li><a href="pos_graduacao2.html">pós-graduação</a></li>
			<li><a href="pesquisa2.html">pesquisa</a></li>
			<li><a href="extensao2.html">extensão</a></li>
<li><a href="institucional2.html">institucional</a></li>
		</ul>
</div>
	<div id="top-bar" class="container">
		<div class="bar">
			<div class="text">Bem-vindo ao site do Instituto de Informática da Universidade Federal do Rio Grande do Sul</div>
			
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">INF realiza eleições para diversos cargos</a></h2>
				<p class="date">7 de Novembro de 2010</p>
				<div class="entry"> <img src="images/image2.jpg" width="132" height="122" alt="" class="border alignleft"><p>O processo eleitoral será conduzido pela Comissão Eleitoral designada pela Portaria  nº 013/2010-INF e, constituída pelos professores Ivone Maluf Medero (Presidente), José Nicoletti Junior e Lucio Mauro Duarte, as técnicas-administrativas Beatriz Regina Bastos Haro, Sulamar Figueira Marcelino e Silvania Vidal de Azevedo e os acadêmicos  Bruno Romeu Nunes e Priscila Azevedo Folle. Os eleitos cumprirão mandato de dois anos, entre 01/01/2011 e 31/12/2012.</p>
				</div>
				<div class="meta">
					<p class="tags">Tags: <a href="#">eleição</a>, <a href="#">inf</a>, </p>
					<p class="links"> <a href="#" class="more">ler mais...</a></p>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Inscrições no PPGC até o dia 25/11</a></h2>
				<p class="date">14 de Novembro de 2010</p>
				<div class="entry">
					<p>Estão abertas as inscrições para o mestrado e doutorado no Programa de Pós-Graduação em Computação do Informática da UFRGS - PPGC/UFRGS, para ingresso em março de 2011. Elas podem ser feitas até o dia 25 de novembro, pelo site  http://inf.ufrgs.br/ppgc/applying</p>
				</div>
				<div class="meta">
					<p class="tags">Tags: <a href="#">Internet</a>, <a href="#">Free Templates</a>, <a href="#">Web Design</a></p>
					<p class="links"> <a href="#" class="more">ler mais...</a></p>
				</div>
			</div>
<a href=""></a><div class="post"><h2 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h2>
				<p class="date">Posted on September 29, 2009</p>
				<div class="entry">
					<p>Faucibus non sit amet elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat, dui sed posuere molestie, urna sapien porta purus, vel sodales ante erat sed arcu. Nunc semper, diam ut blandit elementum, ipsum purus vestibulum quam, sit amet auctor est nunc ut risus. Maecenas vitae justo sit amet erat congue aliquet molestie commodo odio. Praesent tempor pellentesque nibh.</p>
				</div>
				<div class="meta">
					<p class="tags">Tags: <a href="#">Internet</a>, <a href="#">Free Templates</a>, <a href="#">Web Design</a></p>
					<p class="links"> <a href="#" class="more">ler mais...</a></p>
				</div>
			</div>
		</div>
		<div id="sidebar">
			<ul>
<li>
					<h2>Sobre o Instituto</h2>
					<p><img src="images/image3.jpg" width="210" height="72" alt="" class="border"></p>
					<p>O Instituto de Informática é um centro de excelência de classe internacional em educação, pesquisa e inovação em Ciência da Computação e Engenharia da Computação. Possui uma infraestrutura  que compreende muitos laboratórios de ensino com cerca de 500 computadores em rede, 35 laboratórios de pesquisa, 4 anfiteatros e uma biblioteca especializada com mais de 22.000 volumes.</p>
				</li>
				<li>
					<h2>Últimas notícias</h2>
					<ul>
<li><a href="21anos.html">INF completa 21 anos</a></li>
						<li><a href="#">Making-of do jogo Bootcamp</a></li>
<li><a href=""></a></li>
						<li><a href="#">Desvendando o código do cérebro</a></li>
						<li><a href="#">INF realiza eleições</a></li>
						<li>
						<li>
						<li>
						<li>
					</ul>
</li>
<a href=""></a><li><h2>Links diretos</h2>
					<ul>
<li><a href="#">CEI: Centro de Empreendimentos</a></li>
						<li><a href="#">PPGC</a></li>
						<li><a href="#">PGMICRO</a></li>
						<li><a href="#">PPGIE</a></li>
						<li><a href="#">Biblioteca</a></li>
						<li><a href="#">Boletim Informática</a></li>
						<li><a href="#">Administração da Rede</a></li>
						<li><a href="#">Twitter</a></li>
					</ul>
</li>
			</ul>
</div>
		<div class="clearfix"> </div>
		<div id="footer-bar" class="two-cols">
			<div class="col1">
				<h2>Instituto de Informática da UFRGS</h2>
				<p>Universidade Federal do Rio Grande do Sul | Caixa Postal 15064 | 91501-970 | Porto Alegre - RS - Brasil | Fone +55 (51) 3308 6168 | Fax +55 (51) 3308 7308</p>
			</div>
			<div class="col2">
				<ul>
<li><a href="#">Como chegar</a></li>
					<li><a href="#">Telefones Internos</a></li>
					<li><a href="#">Fale Conosco</a></li>
					<li>
				</ul>
</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div id="footer" class="container">
	<p>Instituto de Informática da UFRGS. Criado com PrankDev. Design por nodethirtythree + Free CSS Templates</p>
</div>

</body>
