<html>
<head>
<title>PrankDev</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"">
 <%= stylesheet_link_tag 'style.css' %>
</head>
<body>
  <div id="full_body">
    <div id="home_header">
    </div>
    <div id="home_title">
      <p>
        Guigui bla bla bla bla asdf asdf asdf bla bla basjdf lçasjdf açlksjdf alçsfjd
      </p>
      <div id="menu_home">
	      <%= render :partial => "menu" %>
	    </div>
    </div>
    <div id="red_bar_home">
       <p><%= notice %></p>
      <%= yield %>
    </div>
    <div id="body_write">
	  <p>
        Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      </p>
      <p>
        Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      	Guigui bla bla bla bla asdf asdf asdf bla bla bla Guigui bla bla bla bla asdf asdf asdf bla bla bla
      </p>
    </div>
    <div id="footer">
    </div>  
  </div>
</body>
</html>
